"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "language-toml"
      "language-sql"
      "language-ruby-on-rails"
      "language-python"
      "language-php"
      "language-perl"
      "language-csharp"
      "language-c"
      "language-clojure"
      "linter-scss-lint"
    ]
    followSymlinks: true
    projectHome: "~/workspace"
    showIndentGuide: true
    useShadowDOM: true
    zoomFontWhenCtrlScrolling: true
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
  emmet: {}
  "exception-reporting":
    userId: "7411b049-d54c-9f27-4770-7de9e3c5df49"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "git-blame-plus": {}
  linter:
    errorPanelHeight: 23
  nuclide:
    remoteProjectsConfig: []
  "one-dark-ui":
    layoutMode: "Compact"
  react: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
